# Ignore Terraform working directory
.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform plan output files
*.tfplan

# Ignore crash logs
crash.log
crash.*.log

# Ignore variable definition files that may contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files used for local testing and overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform state lock file
.terraform.tfstate.lock.info

# Ignore Terraform provider lock file
.terraform.lock.hcl

# Ignore Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore temporary or backup files from text editors
*~
*.swp
*.log

# Ignore IDE settings (optional)
.vscode/
.idea/

# Ignore generic output files (optional)
output.json
